/* Entire body */
<body style="background-color:#FFC0CB">


.topnav {
	background-color: black;
	overflow: hidden;
}

.topnav a {
	float: left;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: silver;
	color: white;
}

.topnav a.active {
	background-color: red;
	color: white;
}

/*
body {
background: url(images/bw_01.jpg) repeat-x;
} */



/*#wrap {
	width:700px;
	margin:0px auto 15px auto;
	font-family:Arial, Verdana;
	color:lightblue;
}
*/
/*	

#header {
	height:242PX;
	margin:0px auto 15px auto;
	font-family:Arial, Verdana;
	color:black;
}
*/
/* header menu */
/*
#topmenu {
	display:block;
	list-style:none;
	padding:0 0px 0px 278px;
	float: right;
	width 415px;
}
*/
/*
#topmenu li {
	display:inline;
}
*/
/* #topmenu a {
	display:block;
	float: left;
	height:28px;
	margin:0px 0px 0px0px;
	text-decoration:none;
	padding:9px 15px 0px 15px;
	text-align:center;

}

#topmenu a, #topmenu a:visited, #topmenu a:active {
	color: green;
}

#topmenu a:hover{
	color:red;
	background-color:gray;
}

#topmenu .active a, #topmenu .active a:visited, #topmenu .active a:active {
	color:red;
	background-color: blue;
}

#content {
	background-color: white
}

#mainpage {
	width:700px;
	float:left;
	padding:5px 5px 5px 0px;
	height:auto;

